 *{ 
  margin:0;
  padding:0;
  box-sizing: border-box;
 }
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  background:linear-gradient(white,white,white,rgb(221, 177, 96));
  padding-top:20px;

}

.navbar {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  margin-left:100px;
  align-items:center;}
.u-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.navlinks1 {
  text-decoration: none;
  color: #fea301;
}
.navlinks2 {
  text-decoration: none;
  color: #01acfd;
}
.navlinks3 {
  text-decoration: none;
  color: #05d4df;
}
.navlinks4 {
  text-decoration: none;
  color: #5d58ef;
}
.list-items {
  list-style: none;
}
#btn {
  margin-right: 200px;
  background: #fea301;
  padding: 10px 20px;
  color: #ffff;
  font-size: 15px;
  border-radius: 15px;
  border: none;
}

#re-menu {
  display: none;
}
hr {
  display: none;
  border: 1px solid #fea301;
}
.hero-area {
  background-image: url(../assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 50px;
  font-weight: 400;
  color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-b {
  background: #000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
}
.cards{
  background-image: url(../assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.cards h2 {
  text-align: center;
  margin-bottom:50px;
}
.card-01 {
  width: 350px;
  height: 350px;
  background:linear-gradient(rgb(46, 167, 223), white,  white,white,white);  
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
 text-align: center;
  
}

.card-02{
  width: 350px;
  height: 350px;
  background:linear-gradient(rgb(199, 188, 165),white,white,white);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}
.card-03{
  width: 350px;
  height: 350px;
  background:linear-gradient(#47419950,white,white,white) ; 
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  text-align:center;
}

.card-01 .kinder {
  font-weight: 700;
}
.card-01,.card-02,.card-03 .descript {
  font-weight: 400;
}
.card-03 .middle{
  font-weight: 700;
}
.card-02 .Elementary{
  font-weight:700;
}
.cards-container{
 display:flex;
 justify-content: center;
 gap:40px;
  
}
.a1{
 color:#64C8FF;
}
.a2{
  color:#dd9f10;
}
.a3{
  font-weight: 400;
  color:#8700FF;
}
.icons{
  margin-top:20px;
  display:flex;
  justify-content: center;
  gap:5px;
}
.icon1{
  background:#FEA301;
  color:white;
  padding:10px;
  width:30px;
  border-radius: 100%;
   text-align: center; 
}
.icon2{
  background:#FEA301;
  color:white;
  padding:10px;
  width:30px;
  border-radius: 100%;
  text-align:center;
}
.stories{
  text-align: center;
}

.btn-d{
  background:#3CD8E8;
  color:#fff;
  width:100px;
  height:40px;
  border-radius:10px;
  border:none;
  margin-top:-20px;
  margin-right:200px;
  
}
.btn-g{
  background:#95B226;
  color:#fff;
  width:100px;
  height:40px;
  border:none;
  border-radius: 10px;
  margin-top:-15px;
}
.btn-b{
  background:#5D58F0;
  color:#ffff;
  width:100px;
  height:40px;
  border:none;
  border-radius:10px;
  margin-top:-15px;
}
.btn-bk{
 width:100px;
 height:50px;
 background:#000;
 color:white;
 border-radius:10px;
 margin-top:20px;
 margin-left:380px;
}
.btn-bk1{
  width:100px;
 height:50px;
 background:#000;
 color:white;
 border-radius:10px;
}
.btn-bk2{
  width:100px;
 height:50px;
 background:#000;
 color:white;
 border-radius:10px;
margin-left:800px;
margin-top:20px;
}

.story-01{
  width:350px;
  height:450px;
  background:white;                                                                
  border-radius:10px;
}
.story-02
{
  width:150px;
  height:200px;
  background:white;
  border-radius:10px;
  margin-bottom:10px;
}
.story-03{
  width:150px;
  height:200px;
  background:white;
  border-radius:10px;
}
.story-04{
  width:150px;
  height:210px;
  background:white;
  border-radius:10px;
  
}
.story-05{
  width:150px;
  height:210px;
  background:white;
  border-radius:10px;
  text-align: center;
}

.stories-part{
 display:flex;
 justify-content: center;
 align-items: center;
 gap:10px;
    
}
.s-p-02{
 display:grid;
 grid-template-columns: repeat(2,1fr);
 gap: 10px;
}

.asset{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.description{
  font-weight: 400;
}
.bg{
  margin-top:50px;
  background-color:#01ACFD;
  color:#fff;
  width:100%;
  height:auto;
  padding:20px;
 
}
.kids1{
  display:flex;
  gap:10px;
  align-items: center;

  
}
.navlinks{
  text-decoration: none;
  color:white;
  font-weight: 100;
}
.list-items-1{
  list-style: none;
  margin-top:10px;
}

.message{
  font-weight: 100;

}
.message1{
  font-weight:100;
  margin-top:-20px;
   margin-left:230px;
}
.container{
  display:flex;
  justify-content: space-around;
  align-items:center;
  
}

  .gap{
    margin-bottom:30px;
  }
  .gap-02{
    margin-top:30px;
    margin-bottom:10px;
  }
.message{
  display:none;
}


@media screen and (max-width: 576px) {
  hr {
    display: block;
  }
  .navbar {
    display: none;
  }
  #re-menu {
    display: block;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 10px;
  }
  .hero-area {
    flex-direction: column-reverse;
  }
  .kids-img {
    width: 90%;
    height: auto;
  }
  .text-area {
    text-align: center;
  }
  .cards-container{
     flex-wrap: wrap;
    
  }
  .icons{
    display:none;
  }
  .story-01{
    display:none;
  }
  .s-p-02{
    flex-wrap: wrap;
     
}
.btn-bk2{
  margin-top:10px;
  margin-left:150px;
  
}
.container{
  flex-direction: column;
  align-items: flex-start;
  gap:20px;
}
.message1 {
  display:none;
}
.message{
  display:block;
}


}